@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--nav-color: #f25342;
	--dark-gray: #343233;
	--text-color: #000;
	--light-gray: #d8d6d9;
	--sky-blue: #ebfefd;
	--yellow: #fbee5d;
	--light-blue: #95d6f7;
	--darker-blue: #3965a4;
}

.results-link {
	display: flex;
}
