@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");



$orange: #f25342;
$darkGray: #343233;
$black: #000;
$lightGray: #d8d6d9;
$skyBlue: #ebfefd;
$yellow: #fbee5d;
$lightBlue: #95d6f7;
$darkerBlue: #3965a4;

$primary: $orange;

@import "~bulma/bulma.sass";

* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

.navbar {
	a:hover {
		color: inherit;
		background-color: $lightGray;
		border-radius: 5px;
	}
}

.results-link {
	a {
		text-decoration: underline;
	}
}

